@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

a {
    text-decoration: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: 0px;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    padding-top: 68px;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
}

header,
footer,
section {
    width: 100%;
    float: left;
    position: relative;
}